html {
  font-size: 16px;
}

body {
  background-image: url("background.png");
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0 1em 0;
    padding: 0;
}

.font-karla {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.font-playball {
  font-family: 'Playball', cursive;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.center {
  justify-self: center;
}

.horizontal-center {
  position: relative;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  position: relative;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  color: white;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 125px auto;
}

.title-bar {
  font-size: 1rem;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.title {
  /*font-family: 'Risque', cursive;*/

    font-family: 'Cinzel', serif;
  color: white;
  margin-bottom: 5px;
  text-align: center;
}

.subtitle {
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-top: 5px;
}

.column {
  width: 90%;
}

.column hr {
  border-top: 1px solid rgb(145,145,145);
  margin-top: 0.8em;
}

.first-col {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.second-col {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.third-col {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.fourth-col {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.achivment {
  width: 100%;
  min-height: 50px;
  padding: 3px;
  border-radius: 2px;
  background-color: rgba(64, 64, 64, 0.3);
}

.achivment-title {
  font-family: 'Cormorant', serif;
  font-size: 1.45rem;
  font-weight: 100;
  text-align: center;
}

.goldie {
  border: 1px solid gold;
}

.silverie {
  border: 1px solid silver;
}

.bronzie {
  border: 1px solid bronze;
}

.achivment-item {
  display: flex;
  flex-flow: row nowrap;
}

.achivment-description {
  max-height: 100%;
}

.achivment-points {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: lightgreen;
  font-family: 'Cinzel', serif;
  font-weight: 900;
  margin: 2px 5px 2px 2px;
  min-width: 2rem;
  padding: 0 14px;
  position: relative;
  text-align: center;
}

.points-plus::before {
  content: "+";
  margin-right: 1px;
  color: lightgreen;
}

.red {
  color: red;
}

.points-minus::before {
  content: "-";
  margin-right: 1px;
  color: red;
}

.achivment-description h4 {
  margin: 0 1px 2px 1px;
  font-family: 'Cinzel', serif;
  font-weight: 900;
}

.achivment-description h5 {
  margin: 0 1px 1px 1px;
  color: silver;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 0.815rem;
}


@media (max-device-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .column {
    width: 98%;
  }
}
